/* =============== GOOGLE FONTS ======================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/* =============== VARIABLES CSS ====================== */
:root {
  /* ======== Colors ======== */
  --title-color: #3a3a3a;
  --text-color-light: #787885;
  --background-color: #0a0826;
  --primary-btn-color: #e02c6d;
  /* ======== Font weight ======== */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* ======== Font and typography ====== */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 3.25rem;
  --h2-font-size: 2.15rem;
  --h3-font-size: 1rem;
  --biggest-font-size: 1.7rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

/* =============== BASE CSS ================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

/* =============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1250px;
  margin: 0 auto;
  /* margin-inline: 1.5rem; */
}
.flex {
  display: flex;
  align-items: center;
}
/* .section__title,
.section__subtitle {
  text-align: center;
} */

.section__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  color: #18191F;
}
.section__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color-light);
}

/* ============== Nav Styles Starts =============== */
nav {
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.nav_items {
  gap: 25px;
}
.nav_items > a {
  transition: hover ease-in 0.2s;
}
.nav_items > a:hover {
  cursor: pointer;
  color: var(--primary-btn-color);
}

.logo h3 {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
}
/* ============== Nav Styles Ends =============== */

/* =============== Banner Styles ================== */

.banner_img {
  background-image: url(../images/camera-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner_description {
  padding: 80px 180px 0 50px;
}
.banner_description h1 {
  font-size: var(--h1-font-size);
}

.btn-primary {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: #fff;
  background-color: var(--primary-btn-color);
  border-radius: 41px;
  border: none;
  padding: 12px 25px;
  margin-top: 30px;
  transition: transform ease-in 0.1s;
}

.btn-primary:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.btn-primary .fa-arrow-right-long {
  margin-left: 5px;
}
/* =============== Banner Styles Ends ================== */

/* =============== Ecommerce Styles ================== */

.ecom_img_container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 90px;
}

hr {
  width: 970px;
  margin: 20px auto;

}
/* =============== Ecommerce Styles Ends ================== */ 


/* =============== Popular Collection Styles ================== */
.popular_collection h2{
  text-align: center;
  font-size: var(--h2-font-size);
  margin: 95px 0 50px 0;
}

.collection_gallery {
  max-width: 1178px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery_img{
  width: 375px;
  height: auto;
  box-shadow: -4px 10px 16px 3px rgba(0,0,0,0.19);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.gallery_img img {
  width: 100%;
}
.gallery{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.filled {
  color: #FB8200;
}
.rating{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
}
.price {
  font-size: var(--biggest-font-size);
  font-weight: normal;
}
.see_more  {
  display: flex;
  justify-content: center;
}
.see_more a {
  color: var(--primary-btn-color);
  font-size: var(--h3-font-size);
}
/* =============== Popular Collection  Ends ================== */

/* =============== Featured Product Section ================== */
.featured_product{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}


/* =============== Featured Product Section Ends ================== */